{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block content %}
  <p>Tec Sorocabana é o nome dado para o grupo no Slack que tenta unir a comunidade
de tecnologia da cidade de Sorocaba.</p>

  <h2>Sorocaba</h2>

  <p>Segundo o <a href="https://pt.wikipedia.org/wiki/Sorocaba">Wikipédia</a>: 
Sorocaba é um município brasileiro da Região Metropolitana
de Sorocaba, da Mesorregião Macro Metropolitana Paulista e da Microrregião de
Sorocaba, no interior do estado de São Paulo. É a quarta mais populosa do
interior de São Paulo (precedida por Campinas, São José dos Campos e Ribeirão
Preto) e a mais populosa da região sul paulista, com uma população de 659 871
habitantes, estimada pelo IBGE para 1 de julho de 2017,[6] sendo, portanto, uma
capital regional.</p>

  <h3>A imagem do grupo</h3>
  <p>Não sei se já perceberam, mas a bandeira de Sorocaba é composta por dois
unicórnios (oO)! </p>

  <p style="text-align: center"><img alt="Bandeira de Sorocaba" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/BrasaoSorocaba.svg"></p>

  <p>Sendo assim, escolhemos também um unicórnio para ilustrar o nosso grupo. Nada
melhor do que o clássico unicórnio exibido pelo Github quando está enfrentando
alguns problemas.</p>
  <p style="text-align: right"><img alt="TecSorocabana logo" src="https://i.imgur.com/3w1tsPS.png"></p>
{% endblock %}
